.content{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 680px;
  box-sizing: border-box;
  color: black;
}
h1{
  text-align: center;
}
.page-link{
  color: black;
  background-color: red;
}