.card{
  width: 40%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px gray solid;
  gap: 10px;
  cursor: pointer;
  &__img{
    width: 80%; 
  }
  &__name{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold
  }
}
.content__loading{
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}
.container{
  display: flex;
  column-gap: 10px;
}
button{
  color: black;
  font-size: 16px;
  width: 100%;
}
table, th, td{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.fire{
 
  background-color: rgb(180, 0, 0);
}
.water{
  background-color: rgb(1, 1, 182);
  color: white;
}
.grass{
  background-color: green;
  color: white;
}
.poison{
  color: #000;
  background-color: yellow;
}
.bug{
  background-color: orange;
}
.flying{
  color: #000;
  background-color: aquamarine;
}
.normal{
  background-color: beige;
  color: #000;
}
.fighting{
  background-color: cornflowerblue;
}
.physic{
  background-color: pink;
}
.ground{
  background-color: brown;
}
.fairy{
  background-color: greenyellow;
}
.electric{
  background-color: orangered;
}