.content{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 680px;
  box-sizing: border-box;
  color: black;
}
h1{
  text-align: center;
}

.content__loading{
  background-color: rgb(1, 1, 182);
  color: white;
  cursor: pointer;
}